html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

.table-container {
    position: relative;
    padding-left: 120px;
}

.table-divider-label td {
    position: relative;
    border: 0 !important;
    padding: 0;
    height: 0;
    line-height: 0;
}

.table-divider-label span {
    position: absolute;
    transform: translateY(-50%);
    top: 0;
    right: 100%;
    margin-right: 1rem;
    white-space: nowrap;
}